//pkgs.dev.azure.com/SaasTraction/_packaging/develop/npm/:_authToken="N3BqMnh3Tnl0QnJFc1hTZTI2M3N1Y3EzbmZGTHJYOXNIY29RaFhXdDYwcGVGZWNHRVlVR0pRUUo5OUJBQUNBQUFBQUVjbzVTQUFBU0FaRE81TzVM"
//pkgs.dev.azure.com/SaasTraction/_packaging/develop/npm/registry/:username=ankitg@thrivestack.ai
//pkgs.dev.azure.com/SaasTraction/_packaging/develop/npm/registry/:_password="N3BqMnh3Tnl0QnJFc1hTZTI2M3N1Y3EzbmZGTHJYOXNIY29RaFhXdDYwcGVGZWNHRVlVR0pRUUo5OUJBQUNBQUFBQUVjbzVTQUFBU0FaRE81TzVM"
//pkgs.dev.azure.com/SaasTraction/_packaging/develop/npm/:username=ankitg@thrivestack.ai
//pkgs.dev.azure.com/SaasTraction/_packaging/develop/npm/:_password="N3BqMnh3Tnl0QnJFc1hTZTI2M3N1Y3EzbmZGTHJYOXNIY29RaFhXdDYwcGVGZWNHRVlVR0pRUUo5OUJBQUNBQUFBQUVjbzVTQUFBU0FaRE81TzVM"
pkgs.dev.azure.com/SaasTraction/_packaging/develop/npm/registry/:username=ankitg@thrivestack.ai
registry=https://registry.npmjs.org
always-auth=true
https://registry.npmjs.org // fallback registry
